@model OntarioTechUniversity.Models.Item

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <!------------------------------------------------------------------------->
            <div class="form-group">
                <label asp-for="ItemNum" class="control-label"></label>
                <input asp-for="ItemNum" class="form-control" />
                <span asp-validation-for="ItemNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturer" class="control-label"></label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>
            <!------------------------------------------------------------------------->
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <!------------------------------------------------------------------------->
            <div class="form-group">
                <label asp-for="TagNumber" class="control-label"></label>
                <input asp-for="TagNumber" class="form-control" />
                <span asp-validation-for="TagNumber" class="text-danger"></span>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="form-group">
                <label asp-for="ProductOverview" class="control-label"></label>
                <input asp-for="ProductOverview" class="form-control" />
                <span asp-validation-for="ProductOverview" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MSDS" class="control-label"></label>
                <input asp-for="MSDS" class="form-control" />
                <span asp-validation-for="MSDS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductManual" class="control-label"></label>
                <input asp-for="ProductManual" class="form-control" />
                <span asp-validation-for="ProductManual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecommendedMaintenance" class="control-label"></label>
                <input asp-for="RecommendedMaintenance" class="form-control" />
                <span asp-validation-for="RecommendedMaintenance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WasteManagement" class="control-label"></label>
                <input asp-for="WasteManagement" class="form-control" />
                <span asp-validation-for="WasteManagement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certification" class="control-label"></label>
                <select asp-for="Certification" class="form-control">
                    <option></option>
                    <option>CSA</option>
                    <option>Energy Star</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DateModified" class="control-label"></label>
                <input asp-for="DateModified" class="form-control" />
                <span asp-validation-for="DateModified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemComment" class="control-label"></label>
                <input asp-for="ItemComment" class="form-control" />
                <span asp-validation-for="ItemComment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationID" class="control-label"></label>
                <select asp-for="LocationID" class="form-control" asp-items="ViewBag.LocationID"></select>
            </div>
            <div class="container" style=" display: flex; flex-direction:row; height:39px; padding-left:0px;">
                <div class="form-group .col-6 .col-md-4">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index" class="btn btn-secondary col" style="margin-left:12px;">Back</a>
                </div>
            </div>  
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
